/* CSS Document */
.sectionextp
{
    background-color: darksalmon;
}

.sectionexsali
{
    background-color:darkgoldenrod;
}

.sectionexcar1
{
    background-color: khaki;
}

.sectionexcar2
{
    background-color: blue;
    
}

.sectionexcar3
{
    background-color: magenta;
    
}

.sectionexper1
{
    background-color: thistle;
}

.sectionexcuma1
{
    background-color: burlywood;
}




